# --- AMBIENTE ---
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.venv*/

# --- AIRFLOW ---
airflow/logs/
airflow/tmp/

# --- DBT ---
dbt/logs/
dbt/target/


# --- DOCKER ---
*.pid
*.log
*.tmp

# --- SISTEMA ---
.DS_Store
Thumbs.db

# --- PYTHON/POETRY ---
poetry.lock
# (opcional subir, mas mantenha se quiser travar dependências)
