# --- AMBIENTE ---
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.venv*/

# --- AIRFLOW ---
airflow/logs/
airflow/tmp/

# --- DBT ---
dbt/logs/
dbt/target/

# --- DATA / ARTEFATOS LOCAIS ---
data/
logs/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# --- DOCKER ---
*.pid
*.log
*.tmp

# --- SISTEMA ---
.DS_Store
Thumbs.db

# --- PYTHON/POETRY ---
# poetry.lock deve ser versionado quando for gerado para travar dependências.
